* {
    background-color: #CEECF4;
    padding: 0 0 0 20px;
}

body {
    width: 1200px;
}

h1 {
    color: #41312D;
    font-family: "-윤고딕350";
}

p{
    color: #41312D;
    width: 400px;
    font-family: "-윤고딕330";
    float: left;
}


.list {
    border-bottom: 2px solid #41312D;
    color: #41312D;
    list-style: none;
    padding: 30px 700px 10px 0;
}

ol li{
    padding: 0px;
    font-family: "-윤고딕330";
}

.my_list li {
    float: left;
    margin: 0 8px;
    list-style: none;
}

.best_list li {
    float: left;
    margin: 0 20px;
}

.today_list{
    float: left;
    width: 1200px;
    margin: 0px;
}

dt {
    float: left;
    margin: 0px;
}

.today_title {
    padding: 0 0 0 10px;
    margin: 20px 40px 0 0px;
    width: 130px;
    font-family: "-윤고딕340";
}

#ticket {
    padding: 60px 0 0 440px;
}
