* {
    background-color: #41312D;
}

header nav{
    float: center;
    width: 92%;
    margin: 0px;
    padding: 0px;
    background-color: #CEECF4;
}

ul, table, td {
    background-color: #CEECF4;
}

ul li {
    padding: 20px 50px;
    font-size: 17px;
    font-family: "-윤고딕330";
    list-style: none;
    list-style-type: none;
    background-color: #CEECF4;
}

a:link {
    color: #41312D;
    text-decoration: none;
    background-color: #CEECF4;
}

a:visited {
    color: #41312D;
    text-decoration: none;
    background-color: #CEECF4;
}

section h1 {
    margin: 50px 100px 20px 100px;
}

#illust {
    float: left;
}

article {
    margin: 10px 0 0 0;
    float: right;
}

.intro {
    color: #CEECF4;
    font-size: 30px;
    font-family: "-윤고딕330";
    margin: 0 0 40px 0;
}

.talk {
    font-size: 14px;
    font-family: "-윤고딕310";
    color: #CEECF4;
    margin: 0;
}

.question {
    font-size: 16px;
    font-family: "-윤고딕320";
    color: #CEECF4;
}

iframe {
    width: 85.5%;
    height: 250px;
    margin: 30px;
}

.click:hover {
    background-color: darksalmon;
}

footer p {
    font-family: "-윤고딕310";
    color: azure;
    font-size: 12px;
}

a {
    list-style: none;
}

iframe {
    border: none;
}

.recommend {
    border-bottom: 2px solid #CEECF4;
    list-style: none;
    width: 85%;
    padding: 500px 0 0 0;
    margin: 10px 50px 0 50px;
    font-family: "-윤고딕320";
}
